<div class="product-list">
    <h1>All Product</h1>
    <p class="message-p">{{productMessage}}</p>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of productList">
                <td><img appImageSizeChanger src="{{item.image}}" alt="{{item.name}}"></td>
                <td appChangefontStyle>{{item.name}}</td>
                <td>{{item.price | priceFormatterIndian :'BDT': 0}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>
                    <button (click)="deleteProduct(item.id)">Delete</button>
                    <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}">Edit</a>
                </td>
            </tr>
        </tbody>    
    </table>
</div>